.basic-page {
  // Layout
  .layout {

    &__standard {

      // Regions
      .region {

        &__header {

        }
        &__hero {

        }
        &__content {
          padding: 50px 30px 50px;
          .content {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            max-width: 1000px;
            padding: 00px 40px 40px;
            .title {
    
            }
            .body {
              p {
                font-size: 18px;
                line-height: 30px;
              }
            }
            .blocks {
              .block {
                margin: 50px 0;
                h2 {
                  margin: 0;
                }
                p {
                  margin: 5px 0px;
                }
              }
            }
    
          }


        }
        &__footer {

        }
      }

    }

  }

}
