.basic-page {
  // Layout
  .layout {

    &__standard {

      // Regions
      .region {

        &__header {

        }
        &__hero {

        }
        &__content {
          padding: 50px 30px 50px;
          .content {
            box-shadow: 0px 0px 30px rgba(209, 209, 209, 0.978);
            background-color: rgba(242, 242, 242, 0.86);
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            max-width: 1000px;
            padding: 40px 40px;
            .title {

              h2 {
                font-size: 50px;
                margin: 0;
              }
    
            }
            .body {
              p {
                font-size: 18px;
                line-height: 30px;
              }
            }
            .blocks {
              .block {
                margin: 50px 0;
                h2 {
                  margin: 0;
                }
                p {
                  margin: 5px 0px;
                }
              }
            }
    
          }


        }
        &__footer {

        }
      }

    }

  }

}
