.blog-page {
  height: 100vh;
  box-sizing: border-box;
  position: relative;
  // Layout
  .layout {
    &__standard {
      .region {
        &__header {
          .wrap {
            a.exit {
              font-family: $font-2;
              position: relative;
              left: 40px;
              top: 40px;
              background-color: #000;
              padding: 20px;
              border-radius: 30px;
              color: white;
              font-weight: 500;
              &:hover{
                background-color: $blue-2;
                transition: background-color .2s ease-in-out;
              }
            }
          }
        }
        &__content {
          .blog-post-previews {
            .blog-post-preview {
              height: fit-content;
              width: 100%;
              padding: 9px 0;
              color: #000;
              display: flex;
              flex-direction: column;
              text-align: left;
              position: relative;
              animation: fadeUp ease-in-out .6s;
              animation-iteration-count: 1;
              animation-fill-mode: forwards;
              .text-container {
                width: fit-content;
                height: fit-content;
                .underline {
                  width: 0%;
                  height: 1px;
                  background-color: black;
                  margin: 5px 0 0;
                }
              }
              &:hover {
                cursor: pointer;
                color: $blue-2;
                transform: translateX(-20px);
                transition: 
                  color .2s ease-in,
                  transform .2s ease-in-out;
                .underline {
                  background-color: $blue-2;
                  width: 100%;
                  transition:   
                    width .25s ease-in-out,
                    background-color .25s ease-in-out;
                }
              }
              h3 {
                margin: 0;
              }
            }
          }
          .blog-post-tags-block {
            width: 80%;
            padding: 0px 0px;
            height: 50px;
            background-color: #e6e6e6;
            position: absolute;
            left: 10%;
            bottom: 50px;
            border-radius: 30px;
            .blog-post-tags {
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              justify-content: space-around;
              height: 100%;
              width: 100%;
              .blog-post-tag {
                display: flex;
                position: relative;
                height: 100%;
                align-items: center;
                justify-content: center;
                flex: 1;
                font-family: $font-2;
                &:first-child {
                  border-radius: 50px 0 0 50px;
                }
                &:last-child {
                  border-radius: 0 50px 50px 0;
                }
              }
            }
          }
        }
      }
    }
  }
}