.blog-post {
  // Layout
  .layout {
    &__standard {
      padding: 0 20px;
      margin: 20px auto 0;
      max-width: 1120px;
      .region {
        &__header {

        }
        &__hero {

        }
        &__content {
          h1 {
            margin: 20px 0 10px;
            font-size: 100px;
          }
        }
        &__footer {

        }
      }
    }
  }
}