@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&display=swap');

html,
body {
  background-color: #fff;
  padding: 0;
  margin: 0;
  font-family: 'Ibarra Real Nova', serif, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: 'Ibarra Real Nova', serif, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: #000;
    background: #fff;
  }
}

.visually-hidden {
  display: none;
}