.home-page {

  .homepage-mobile {
    display: block;
    @include md {
      display: none;
    }
    width: 100%;
    // padding: 0 30px;
    .name-container {
      display: block;
      width: 100%;
      background-color: $blue-1;
      padding: 20px 0 10px;
      .name {
        font-size: 60px;
        color: white;
        line-height: 50px;
        margin: 0;
        text-align: center;
        br {
          display: none;
        }
      }
      .subtitle {
        position: relative; 
        color: #fff;
        font-style: italic;
        font-size: 20px;
        text-align: center;
        margin: 10px 0 0;
      }
    }
    .bubbles {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      height: fit-content;
      width: 100%;
      flex-wrap: wrap;
      justify-content: center;
      .bubble {
        border: 2px solid #fff;
        border-radius: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 75px;
        height: 75px;
        display: flex;
        margin: 5px;
      }
    }
    .section {
      padding: 10px;
      &#portrait {
        // background: red;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 20px;
        .half {
          display: flex;
          flex: 1;
          align-items: center;
          justify-content: center;
          // border: 1px solid red;
          &:nth-of-type(1) {
            img {
              margin: 0 auto;
              width: 80%;
              border-radius: 50%;
              border: 2px solid white;
            }
          }          
          &:nth-of-type(2) {
            flex-direction: column;
            .content {
              p {
                font-size: 12px;
                line-height: 22px;
                color: #fff;
                margin: 0;
                &#quote {

                }
                &#author {
                  font-style: italic;
                  font-size: 16px;
                  position: relative;
                  text-align: right;
                  right: 20px;
                  padding: 10px 0 0;
                }
              }
            }
          }
        }
      }
      &#technologies {
        background: $blue-1;
      }
    }
    h2.section-title {
      font-family: $font-2;
      text-align: center;
      margin: 0;
      color: rgb(255, 255, 255);
      // padding: 10px;
      font-size: 22px;
    }
  }
}