.home-page {

  .homepage-mobile {
    display: block;
    @include md {
      display: none;
    }
    width: 100%;
    // padding: 0 30px;
    .name-container {
      display: block;
      width: 100%;
      background-color: $blue-1;
      padding: 5px 0;
      .name {
        font-size: 30px;
        color: white;
        margin: 0;
        text-align: center;
        br {
          display: none;
        }
      }
      .subtitle {
        position: relative; 
        color: #fff;
        font-style: italic;
        font-size: 12px;
        text-align: center;
        margin: -5px 0 0;
      }
    }
    .bubbles {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      height: fit-content;
      width: 100%;
      flex-wrap: wrap;
      justify-content: center;
      .bubble {
        border: 2px solid #fff;
        border-radius: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 75px;
        height: 75px;
        display: flex;
        margin: 5px;
      }
      .blog-link {
        display: none;
      }
    }
    .section {
      &#portrait {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .half {
          display: flex;
          flex: 1;
          align-items: center;
          justify-content: center;
          margin: 30px 0;
          &:nth-of-type(1) {
            img {
              margin: 0 auto;
              width: 60%;
              border-radius: 50%;
              border: 2px solid white;
            }
          }          
          &:nth-of-type(2) {
            flex-direction: column;
            margin: 0 30px 30px;
            border-radius: 10px;
            background-color: #fff;
            .content {
              padding: 20px;
              p {
                font-size: 16px;
                line-height: 24px;
                color: $blue-1;
                margin: 0;
              }
              h2 {
                margin: 0;
                font-size: 22px;
                color: $blue-1;
                text-align: center;
              }
              .divider {
                background-color: $blue-1;
                width: 100%;
                height: 1px;
                margin: 4px 0 10px;
              }
            }
          }
        }
      }
      &#technologies {
        padding: 0 30px 30px;
        background: $blue-1;
      }
    }
    h2.section-title {
      font-family: $font-2;
      text-align: center;
      margin: 0;
      color: rgb(255, 255, 255);
      padding: 20px 0 10px;
      font-size: 22px;
    }
  }
}