.home-page {
  .home-page-desktop {
    .name-container {
      display: none;
      @include md {
        display: block;
      }

      box-sizing: border-box;
      position: absolute;
      z-index: 1;
      height: 60px;
      top: 10px;
      @include md {
        top: 410px;
        left: 80px;
      }        
      @include lg {
        left: 120px;
      }    
      @include xl {
        left: 150px;
      }
      .name {
        font-size: 40px;
        color: white;
        line-height: 50px;
        margin: 0;
        text-align: center;
        br {
          display: none;
          @include md {
            display: block;
          }
        }
        @include md {
          font-size: 150px;
          line-height: 130px;
          text-align: start;
        }      
        @include lg {
          font-size: 200px;
          line-height: 180px;
          margin: 0;
        }
      }
      .subtitle {
        position: relative; 
        color: #fff;
        font-style: italic;
        font-size: 15px;
        text-align: center;
        margin: -10px 0 0;
        @include md {
          margin: -20px 0 0;
          left: 9px;
          color: #fff;
          font-style: italic;
          font-size: 30px;
          width: fit-content;
          text-align: start;
        }
      }
    }
    display: none;
    @include md {
      display: block;
    }
    .bubbles {
      box-sizing: border-box;
      position: relative;
      z-index: 999;
      display: flex;
      flex-direction: row;
      height: fit-content;
      width: 100%;
      flex-wrap: wrap;
      padding: 0 10px;
      justify-content: center;
      top: 80px;
      @include md {
        position: absolute;
        right: 0;
        height: 100vh;
        width: 100%;
        z-index: 3;
        top: 0;
      }    
      .bubble {
        border: 2px solid #fff;
        border-radius: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 75px;
        height: 75px;
        display: flex;
        margin: 5px;
        @include md {
          position: absolute;
        }
        &:nth-child(1) {
          @include md {
            left: 37vw;
            top: 10vh;
            width: 150px;
            height: 150px;
          }
          @include xl {
            width: 200px;
            height: 200px;
          }      
    
        }    
        &:nth-child(3) {
          @include md {
            left: 50vw;
            top: 30vh;
            width: 125px;
            height: 125px;
          }
          @include xl {
            left: 50vw;
            top: 30vh;
            width: 175px;
            height: 175px;
          }      
    
    
        }
        &:nth-child(5) {
          background-size: 120%;
          @include md {
            left: 62vw;
            top: 47vh;
            width: 100px;
            height: 100px;
          }
          @include xl {
            left: 62vw;
            top: 47vh;
            width: 150px;
            height: 150px;
          }      
    
    
    
        }    
        &:nth-child(7) {
          @include md {
            left: 74vw;
            top: 60vh;
            width: 75px;
            height: 75px;
          }
          @include xl {
            left: 74vw;
            top: 60vh;
            width: 125px;
            height: 125px;
          }      
    
    
        }
        &:nth-child(9) {
          @include md {
            left: 85vw;
            top: 71vh;
            width: 50px;
            height: 50px;
          }
          @include xl {
            left: 85vw;
            top: 71vh;
            width: 100px;
            height: 100px;
          }      
        }        
        &:nth-child(n+11) { // hide all other bubbles
          display: none;
        }
      }
  
      .mobile-content {
        display: block;
        width: 70%;
        border: 1px solid #fff;
        margin: 10px 0;
      }
    }
  }  

}