.link {
    position: fixed;
    bottom: 50px;
    right: 50px;
    color: white;
    font-size: 16px;
    z-index: 4;
    text-decoration: underline;
    &:hover {
        text-shadow: 0 0 20px #fff;
        transition: text-shadow .2s ease-in-out;
    }
}